*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
}
body
{
display: block;
align-items: center;
justify-content: center;
color: #555;
background-color: #ebf5fc;

min-height: 100vh;
overflow: hidden;
font-weight: 500;

padding-bottom: 0;
overflow: scroll;

}
.container
{
display: flex;
align-items: center;
justify-content: center;
max-width: 1200px;
flex-wrap: wrap;
padding: 40px 0;


}
.container .card
{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0,0, 0.05),
                inset -5px -5px -5px rgba(255, 255,255, 0.5),
                        5px 5px 5px rgba(0, 0,0, 0.05),
                        -5px -5px -5px rgba(255, 255,255, 0.5);

    border-radius: 15px;
    margin: 30px;
}
.container .card .box
{
    position: absolute;
    right: 20px;
    left: 20px;
    top:20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;


}
.container .card:hover .box
{
    transform: translateY(-50px);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2 ) ;
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
.container .card:hover .box .content h3 ,
.container .card:hover .box .content h1,
.container .card:hover .box .content ol
{
    color: white;
}

.container .card .box .content
{
    padding: 20px;
    text-align: center;

}
.container .card .box .content h2
{
    position: absolute;
    top: -10px;
    right: 30px ;
    font-size: 8em;
    color: rgba(0, 0,0, 0.1);
    transition: 0.5s;
    pointer-events: none;

}
.container .card:hover .box .content h2
{
    color: rgba(0, 0, 0, 0.1);

}
.container .card .box .content h3
{
    color: #777;

    font-size: 1.8em;
    z-index: 1;
    transition: 0.5s;

    
}
.container .card .box .content h1
{
    color: #777;

    font-size: 1.1em;
    font-weight: 500;
    z-index: 1;
    transition: 0.5s;

    
}
.container .card .box .content ol
{
    color: #777;

    font-size: 1.2em;
    font-weight: 500;
    z-index: 1;
    transition: 0.5s;
}

.menu{
    text-align: center;
    position: sticky;
}
.menu ul
{
    /* text-decoration: none; */
    /* list-style-type: none; */
    text-align: center;
    /* background-color: rgb(27, 130, 190); */
    display: inline-flex;
    list-style: none;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12) ; */
    /* box-sizing: border-box; */
    border-radius: 19px;

}


.menu ul li
{
    padding: 12px;
    margin: 15px;
    width: 190px;
    /* background-color: thistle; */
    border-radius: 19px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12) ;
    

}
.menu ul li a
{   text-decoration: none;
    color: rgb(24, 62, 63);
    


}
 .menu ul li:hover
{
    /* background-color: rgb(220, 245, 222); */
    border-radius: 2px;
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
    border-radius: 12px;
    transform: translateY(-10px);
    transition: 0.3s;
}
.menu ul li:hover a
{
    color: white;
}
}
.sub_menu a
{
    text-decoration: none;
    color: azure;
}
.sub_menu 
{
    text-align: center;
    list-style: none;
    display: none;
    border-radius: 12px;
}
.menu ul li:hover .sub_menu
{
    display: block;
    position: absolute;
    background-color: white;
    margin-top: 15px;
    margin-left: 15px;


}
/* .menu ul li:hover .sub_menu ul
{
    margin: 10px;
    display: block;
    

    
}
.menu ul li:hover .sub_menu ul li
{
   width: 150px; */
    /* border: ;
    border-radius: 12px;
    background: transparent;
    border-bottom: 1px dotted #fff ;
    text-align:left ;
    padding: 10px;
    background: linear-gradient(45deg,#b95ce4,#4f29cd);

}
.menu ul li:hover .sub_menu ul li:last-child
{
    border-bottom: none;
}
.menu ul li:hover .sub_menu ul li a:hover
{
    color: white;
} */

.table
{ margin-top: 3vh;
    width: 90vw;
    /* margin-left: 4vw; */
    margin-left: 2vw;
    border-radius: 15px;
    background-color: #ebf5fc;
    /* box-shadow: 0vw 10px 30px 5px rgba(0, 0, 0, 0.15); */
   
    /* overflow: scroll; */
    /* display: flex; */
align-items: center;
justify-content: center;
}
/* .table :hover
{
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
   
    transform: translateY(-10px);
    
    color: #fff;
}
.table thead :hover
{
    border-bottom: 1px dashed gray;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    padding: 8px;
} */
.table thead tr td
{
    border-bottom: 1px dashed gray;
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    padding: 8px;
}
.table tfoot tr td
{
    border-top: 1px dashed gray;
    font-size: 18px;
    color: green;
    letter-spacing: 1px;
    padding: 8px;
}
.table tbody tr td
{
    padding: 8px
}
.l
{
  width: 5em;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12) ;
  text-align: center;
}
.b,.s
{
  width: 3em;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12) ;
}
